---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
  <div class="mx-auto lg:w-2xl py-12">
    <h1 class="font-black font-heading text-3xl mb-4">404 Not Found</h1>
    <p>お探しのページは見つかりませんでした。</p>
  </div>
</Layout>
