---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import { contentfulClient, Post } from "../lib/contentful"
import dayjs from "dayjs"

const entries = await contentfulClient.getEntries<Post>({
  content_type: "post",
})
---

<Layout title="すべての記事 | Lon Sagisawa">
  <div class="grid grid-cols-1 gap-4 mx-auto lg:mt-6 max-w-3xl">
    <h2 class="text-2xl font-bold">すべての記事</h2>
    {
      entries.items.map((item) => (
        <Card
          title={item.fields.title}
          sub={dayjs(item.fields.date).format("YYYY年MM月DD日")}
          href={dayjs(item.fields.date).format("/YYYY/MM/") + item.fields.slug}
        >
          <p class="hidden lg:inline">{item.fields.description}</p>
        </Card>
      ))
    }
  </div>
</Layout>
