---
---

<footer
  class="flex flex-col md:flex-row justify-between items-center gap-8 mt-4 px-6 py-6 lg:px-20 min-h-40 bg-zinc-200 dark:bg-black"
>
  <div class="text-zinc-600 dark:text-zinc-400">
    <h2 class="text-xl font-heading font-700">Lon Sagisawa</h2>
    <p class="text-sm">
      Content All rights reserved. <a
        href="https://github.com/lonsagisawa/lonsagisawa"
        target="_blank"
        class="underline font-medium hover:text-zinc-900 dark:hover:text-zinc-200 transition"
        >Source code is available.</a
      ><br />
      Made with <a
        href="https://astro.build"
        target="_blank"
        class="underline font-medium hover:text-zinc-900 dark:hover:text-zinc-200 transition"
      >
        Astro</a
      >, <a
        href="https://github.com/unocss/unocss"
        target="_blank"
        class="underline font-medium hover:text-zinc-900 dark:hover:text-zinc-200 transition"
        >UnoCSS</a
      > and <a
        href="https://www.contentful.com"
        target="_blank"
        class="underline font-medium hover:text-zinc-900 dark:hover:text-zinc-200 transition"
        >Contentful</a
      >.
    </p>
  </div>
  <div class="flex flex-row gap-2 text-zinc-600 dark:text-zinc-400">
    <a
      href="https://github.com/lonsagisawa"
      target="_blank"
      class="hover:text-zinc-800 dark:hover:text-zinc-200 transition"
      aria-label="GitHub"
    >
      <div class="i-fa6-brands-github text-4xl"></div>
    </a><br />
    <a
      href="https://twitch.tv/lonsagisawa"
      target="_blank"
      class="hover:text-zinc-800 dark:hover:text-zinc-200 transition"
      aria-label="Twitch"
    >
      <div class="i-fa6-brands-twitch text-4xl"></div>
    </a>
  </div>
</footer>
