---
import { Picture } from "@astrojs/image/components"
import logoBlack from "../assets/logo_black.png"
import logoWhite from "../assets/logo_white.png"
---

<header
  class="container pl-4 md:pl-8 lg:pl-16 flex flex-row items-center min-h-28 lg:min-h-32"
>
  <a href="/" rel="prefetch" aria-label="Go to the top page">
    <Picture
      src={logoBlack}
      widths={[80, 120, 160]}
      sizes="80px"
      formats={["webp"]}
      alt=""
      class="logo block dark:hidden"
    />
    <Picture
      src={logoWhite}
      widths={[80, 120, 160]}
      sizes="80px"
      formats={["webp"]}
      alt=""
      class="logo hidden dark:block"
    />
  </a>
</header>

<style>
  .logo {
    width: 80px;
  }
</style>
