---
---

<header
  class="container pl-4 md:pl-8 lg:pl-16 flex flex-row items-center min-h-28 lg:min-h-32"
>
  <a href="/" rel="prefetch" aria-label="Go to the top page">
    <svg
      width="80px"
      viewBox="0 0 845 605"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
      class="fill-zinc-900 dark:fill-zinc-100"
    >
      <g transform="matrix(1,0,0,1,-225,-96)">
        <g transform="matrix(3.85802,0,0.817542,3.85802,-1069.75,-1044.83)">
          <g>
            <g>
              <g>
                <g
                  transform="matrix(0.931916,0,-0.667973,1.15696,167.716,3.7814)"
                >
                  <rect x="355.289" y="252.377" width="53.653" height="135.359"
                  ></rect>
                </g>
                <g
                  transform="matrix(0.92917,0,-0.43601,0.755192,210.403,159.558)"
                >
                  <rect x="355.289" y="252.377" width="53.653" height="135.359"
                  ></rect>
                </g>
                <g
                  transform="matrix(0.931916,0,-0.416657,0.721671,171.651,113.639)"
                >
                  <rect x="355.289" y="252.377" width="53.653" height="135.359"
                  ></rect>
                </g>
                <g
                  transform="matrix(2.08206,0,-0.555165,0.961574,-236.49,17.7289)"
                >
                  <rect x="349.306" y="406.981" width="55.824" height="45.032"
                  ></rect>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </a>
</header>
