---
import "@fontsource/open-sans/latin.css"
import "@fontsource/montserrat/latin.css"
import "@fontsource/ibm-plex-mono/latin.css"
import "../styles/lineseed/100.css"
import "../styles/lineseed/300.css"
import "../styles/lineseed/700.css"
import "../styles/lineseed/900.css"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

export interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
</html>
<body
  class="bg-zinc-100 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100 font-sans"
>
  <div class="flex flex-col min-h-screen">
    <Header />
    <div class="grow container mx-auto px-4"><slot /></div>
    <Footer />
  </div>
</body>
